th{
    padding: 5px;
}
.abierto{
    background-color: greenyellow;
    color:black;
}
.cerrado{
    background-color: red;
    color:white;
}
.horas{
    background-color: black;
    color:white;
}
.dias{
    background-color: black;
    color:white;
}